<footer class="footer" style="background-image: url('../assets/Images/Bg_Footer.png')">
    <div class="footer__container container text-center">
        <div class="footer__wrapper">
            <h2 class="heading heading--h2 fw-600 mb-5">
                Gracias por <span class="text-primary">completar el ejercicio</span>
            </h2>
            <h4 class="heading heading--h3 fw-500 mb-40">Te invitamos a ver más información</h4>
            <app-button [href]="'https://www.wolox.com.ar/'" target="_blank"
                >Conocer más</app-button
            >
        </div>
        <div class="footer__logo mt-50 pt-50">
            <img src="../assets/Icons/logo_black.svg" alt="" />
        </div>
    </div>
</footer>
