<section class="hero" style="background-image: url('../assets/Images/Bg_Header.png')">
    <div class="hero__container container">
        <div class="hero__content">
            <h1 class="heading heading--h2">
                Bienvenido a tu <span class="fw-600">Entrevista Técnica</span> en
                <span class="fw-700 text-secondary">Wolox</span>
            </h1>
        </div>
        <div class="hero__image">
            <img src="../assets/Images/Ic_ilustra_Hero.png" alt="" />
        </div>
    </div>
</section>
