<div class="table-actions my-30">
    <div class="table-actions__counter">
        Mostrando
        <form [formGroup]="form" class="form-group form-group--compact mb-0">
            <select class="form-group__input" formControlName="limit" name="limit" id="limit">
                <option [value]="5">5</option>
                <option [value]="10">10</option>
                <option [value]="20">20</option>
                <option [value]="50">50</option>
                <option [value]="100">100</option>
            </select>
        </form>
        de <span class="fw-500 text-secondary">{{ totalCount }}</span>
    </div>

    <div class="table-actions__paginator">
        <button [disabled]="!prevPage" class="button-circle" (click)="goToPage(currentPage - 2)">
            <img src="../assets/Icons/Ic_right_arrow.svg" alt="" />
        </button>
        <ng-container *ngFor="let page of pagesToShow">
            <span class="ml-5" *ngIf="showMaxDots(page)">...</span>
            <button
                class="button-circle ml-5"
                [class.button-circle--not-current]="currentPage !== page"
                *ngIf="page > 0"
                [disabled]="page === currentPage"
                (click)="goToPage(page - 1)"
            >
                {{ page }}
            </button>
            <span class="ml-5" *ngIf="pagesToShow[1] > 2 && page === 1">...</span>
        </ng-container>
        <button
            [disabled]="!nextPage"
            class="button-circle ml-5"
            style="transform: scaleX(-1)"
            (click)="goToPage(currentPage)"
        >
            <img src="../assets/Icons/Ic_right_arrow.svg" alt="" />
        </button>
    </div>
</div>
