<div class="section">
    <div class="sign-up__container container">
        <div class="card">
            <div class="card__container">
                <div class="card__header text-center">
                    <h2 class="heading heading--h3 mb-10 text-primary fw-600">Registro</h2>
                    <h4 class="heading heading--h4 fw-500">
                        Ingresa tus datos personales para poder explorar el mundo Pokemon
                    </h4>
                </div>
                <div class="card__content">
                    <app-sign-up-form></app-sign-up-form>
                </div>
            </div>
        </div>
    </div>
</div>
