.nav {
    transition: all ease-in-out 300ms;
    visibility: visible;
    opacity: 1;

    .nav {
        &__list {
            display: flex;
            align-items: center;
            gap: 35px;

            a {
                color: $text-color;
                cursor: pointer;
                font-weight: 600;
                opacity: 1;
                transition: all ease-in-out 250ms;
                text-decoration: none;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    & ~ .hamburger {
        position: relative;
        z-index: 999;

        button {
            width: 40px;
            height: 40px;
            background: transparent;
            outline: none;
            border: 0;
            cursor: pointer;

            > span {
                position: relative;
                background: $text-color;
                width: 100%;
                height: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 400ms ease-in-out;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: -8px;
                    width: 100%;
                    height: 2px;
                    background: inherit;
                }

                &::after {
                    top: 8px;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        & ~ .hamburger {
            display: none;
        }

        .nav {
            &__logo {
                display: none;
            }
        }
    }

    @include media-breakpoint-down(md) {
        visibility: hidden;
        opacity: 0;
        background: $light-color;
        position: fixed;
        z-index: 998;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 120px;

        &.nav {
            &--opened {
                visibility: visible;
                opacity: 1;

                & ~ .hamburger {
                    button {
                        > span {
                            transform: rotate(135deg);

                            &::before, &::after {
                                top: 0;
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }
        }

        &__list {
            padding: 30px 15px;
            flex-direction: column;
            max-height: calc(100vh - 100px);
        }

        &__logo {
            text-align: center;
            margin-bottom: 30px;
            img {
                max-width: 200px;
            }
        }
    }
}
