<section class="social-box">
    <div class="social-box__container">
        <div class="social-box__hero">
            <div class="social-box__bg">
                <img src="../assets/Images/img_woloxer.png" alt="" />
            </div>
            <h2 class="heading heading--h1 fw-700 mb-35">
                <span class="text-secondary">350 + </span>
                <span class="text-primary">Woloxers</span>
            </h2>
            <div class="social-box__twitter mb-20">
                <img src="../assets/Icons/Ic_Twitter.svg" alt="" />
                <span>@Wolox</span>
            </div>
            <app-button
                [href]="'https://twitter.com/Wolox'"
                [target]="'_blank'"
                [style]="buttonStyle.Stroked"
            >
                <span class="text-light">Síguenos</span>
            </app-button>
        </div>

        <div class="social-box__wrapper">
            <h2 class="heading heading--h2 fw-500">
                Trabajamos para <span class="text-primary fw-600">convertir </span>
                <span class="text-secondary fw-600">ideas</span> en productos.
            </h2>
        </div>
    </div>
</section>
