<app-table-head [pokemonSelected]="pokemonSelected"></app-table-head>
<div class="table">
    <div class="table__row table__row--head">
        <div class="table__cell fw-600">Nombre</div>
        <div class="table__cell">
            <app-button
                (click)="openModal = true"
                [size]="buttonSize"
                [disabled]="pokemonSelected?.length < 2"
                >Comparar</app-button
            >
        </div>
    </div>
    <div
        *ngFor="let item of pokemonResponse?.results; let i = index"
        class="table__row table__row--body"
    >
        <div class="table__cell fw-500 text-capitalize">{{ item.name | pokemonName }}</div>
        <div class="table__cell text-center">
            <div class="wx-checkbox">
                <input
                    class="wx-checkbox__input"
                    [id]="item.name"
                    [disabled]="
                        pokemonSelected.length > 2 &&
                        !pokemonSelected[pokemonSelected.indexOf(item)]
                    "
                    (change)="onPokemonSelected(item)"
                    type="checkbox"
                />
                <label [for]="item.name" class="wx-checkbox__label"></label>
            </div>
        </div>
    </div>
</div>
<app-table-actions
    [totalCount]="pokemonResponse?.count"
    [nextPage]="pokemonResponse?.next"
    [prevPage]="pokemonResponse?.previous"
    (emitLimitChange)="limit = $event.toString(); getAllPokemon()"
    (emitOffsetChange)="offset = $event.toString(); getAllPokemon()"
></app-table-actions>

<app-modal
    *ngIf="openModal"
    [showModal]="openModal"
    (closeEvent)="openModal = false"
    [pokemonList]="pokemonSelected"
></app-modal>
