// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * remove native margin on all elements
 */
* {
    margin: 0;
}

/**
 * Set up a decent box model on the root element
 */
html {
    box-sizing: border-box;
}

/**
 * Set up body background
 */

body {
    font-family: $text-font-stack;
    color: $text-color;
    background-color: $white-color;
    width: 100%;

    /**
     * todo remove once the page is done
     */
    height: 200vh;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
    box-sizing: inherit;
}

/**
 * Basic styles for lists
 */
ul {
    list-style: none;
    padding-left: 0;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: map_get($container, padding);
    padding-right: map_get($container, padding);

    @include media-breakpoint-up(sm) {
        max-width: map_get($container, max-width-sm);
    }
    @include media-breakpoint-up(md) {
        max-width: map_get($container, max-width-md);
    }
    @include media-breakpoint-up(lg) {
        max-width: map_get($container, max-width-lg);
    }
}
